@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500&display=swap");

$gray1: #666;
$gray2: #444;
$gray3: #333;
$gray4: #222;
$white: #fff;
$black: #000;
$violet: #3f0b9f;
$orange: #fac906;

body {
  font-family: "Noto Sans KR", sans-serif;
}

.inner {
  width: 1440px;
  margin: auto;
}

.header-top {
  margin-top: 15px;
  .inner {
    .top-list {
      display: flex;
      justify-content: flex-end;
      > li {
        padding: 12px 10px 15px;
        position: relative;
        font-size: 14px;
        color: $gray2;
        &:nth-of-type(5) {
          margin: 0 10px;
        }
        &::after {
          content: "";
          display: block;
          background-color: $black;
          top: 0;
          left: 50%;
          transform: translateX(-50%);
          width: 95%;
          height: 3px;
          position: absolute;
        }
      }
      .sns-list {
        display: flex;
        margin: 5px 17px;
        > li {
          padding-bottom: 0;
          margin-left: 17px;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
  }
}

.header-bottom {
  .inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    .gnb {
      display: flex;
      justify-content: space-between;
      width: 720px;
      padding-top: 27px;
      .dep1 {
        font-size: 22px;
        height: 200px;
        &:hover .dep2 {
          display: flex;
        }
      }
      .dep2 {
        font-size: 16px;
        padding: 14px 0;
        justify-content: center;
        display: none;
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: 30px;
        background-color: $black;
        color: $white;
        > li {
          margin-right: 20px;
          position: relative;
          &:hover .dep3 {
            display: flex;
          }
        }
        .dep3 {
          position: absolute;
          text-align: center;
          top: 30px;
          background-color: $gray3;
          flex-direction: column;
          display: none;
          left: 50%;
          transform: translateX(-50%);
          min-width: 100%;
          box-sizing: border-box;
          padding: 20px;
          white-space: nowrap;
          > li {
            padding: 14px;
          }
        }
      }
    }
    .util {
      display: flex;
    }
  }
}
